/* CSS Document */

header {
  background-image: url(../images/aerialtreeTops.jpg);
  background-repeat: repeat;
}

#outer {
  background-color: #339933;
}

#content {
  margin-left: 10em;
  padding-left: 1em;
  background-color: #ff9900;
}

footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

.topHeading {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-left: 10px;
  font-style: normal;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: xx-large;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

h2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #ffffff;
}

section {
  max-height: auto;
  max-width: auto;
}

.img1 {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 300px;
  padding: 10px 10px;
  float: left;
}

.img2 {
  width: 209px;
  height: 300px;
  padding: 0 20px;
  float: right;
}

.img3 {
  width: 300px;
  height: 350px;
  padding: 0 10px;
  float: right;
}

ul ul li {
  padding-bottom: 1em;
}

a:link {
  color: #003300;
  text-decoration: underline;
}

a:visited {
  color: #003300;
}

a:hover {
  color: #ffffff;
}

ul tl li a:link {
  text-decoration: underline;
}

ul ul li a:visited {
  color: #003300;
}

ul ul li a:hover {
  color: #ffffff;
}
