<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <title>Forward Fitness</title>
    <!--
	Name: Yuki Ishii
    Date: 22-Feb-2018
	Purpose: Template for Forward Fitness Website
-->
  </head>
  <body>
    <div id="container">
      <!--Use a header area for website name or logo-->
      <header>
        <a href="../index.html"
          ><img src="../images/ffc_logo.png" alt="Foward Fitness Club Logo"
        /></a>
      </header>
      <!--Use nav area to add hiperlinks to other pages within the website-->
      <nav>
        <ul>
          <li><a href="../index.html" title="Home">Home</a></li>
          <li><a href="../html/about.html" title="About Us">About Us</a></li>
          <li><a href="../html/classes.html" title="Classes">Classes</a></li>
          <li>
            <a href="../html/nutrition.html" title="Nutrition">Nutrition</a>
          </li>
          <li>
            <a href="../html/contact.html" title="Contact us">Contact us</a>
          </li>
        </ul>
      </nav>

      <!--Use main area to add the main content of the webpage-->
      <main></main>

      <!--Use footer to add webpage footer content-->
      <footer>
        &copy; Copyright 2018. All right Reserved. <br />
        <a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
      </footer>
    </div>
  </body>
</html>
